# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
build/

# Temporary files
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
