.user-profile__navigation {
  font-size: 18px;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: hsl(235, 46%, 20%);

  &-list-item {
    margin-bottom: 20px;

    a {
      color: hsl(235, 45%, 61%);
      text-decoration: none;

      &:hover {
        color: hsl(236, 100%, 87%);
      }

      &.active {
        color: #fff;
      }
    }

    &:last-child {
      margin: 0;
    }
  }
}

@media (max-width: 767px) {
  .user-profile__navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
